{%extends 'base.html'%}

{%block title%} WriteIt! | {{post.title}} {%endblock%}

{%block content%}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    {%for cat in cats%}
        <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>
    {%endfor%}
</ul>
<nav class="bg-primary">
   <div class="container">
    <div class="nav-wrapper">
        {%load static%}
        <a href="/"><img class="logo" src="{% static 'base/writeit.png' %}" alt="LOGO"></a>
        <a href="/" class="brand-logo">WriteIt!</a>
      </div>
   </div>
</nav>


<style>
    .logo{
        width: 40px; 
        height: 40px; 
        margin-top: 1.2%; 
        margin-right: 2%; 
        border-radius: 50%;
    }
</style>

<div class="container-custom">
    <div class="row">
        <div class="col s12 m10 ">
            <h3>{{post.title}}</h3>
            <p>( {{post.cat.title}} )</p>
            <img src="/media/{{post.image}}" class="responsive-img" alt="">
            <br>
            <p>
                {{post.content | safe}}
            </p>
        </div>
        <div class="col s12 m2">
            {%for cat in cats%}
            <div class="card item" style="margin-left: 10px;">
                <div class="img-container">
                    <img src="/media/{{cat.image}}" class="responsive-img" alt="">
                </div>
                <div class="card-content">
                    <b>
                        {{cat.title}}
                    </b>
                    <p class="truncate">{{cat.description}}</p>
                
                    <div class="container mt20 center-align">
                        <a href="/category/{{cat.url}}" class="btn bg-primary">View</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}